:root {

    --main-color: black;
    --second-color: whitesmoke;

    --third-color: #ff0000;
}
  
body {
    padding: 0px;
    margin: 0px;

}
.menu i {
    display: flex;
}
.menu i b{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px 0px 5px 5px;
  
    font-size: 22px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;

}

.titr {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5pc;
    padding: 0px;
    font-weight: bold;
}

nav ul {
    display: flex;

    padding: 0px;
    justify-content: space-between;
    justify-content: center;

}

nav ul li {
    list-style: none;
    padding: 10px 0px 0px 20px;

}

nav ul li a {
    color: var(--second-color);
    padding: 5px;
    border-radius: 0px 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid transparent;

}

nav ul li a:hover {
    list-style: none;
    color: var(--third-color);
    text-decoration: none;
    border: 1px solid #f9004d;

}

/*#icone {
    margin: 4% 0% 0% 0%;
    display: none;
    
    padding: 10px 10px 10px 10px;
    background-color: var(--second-color);
}

#icone input:first-child {
    border: 1px solid var(--third-color);
    flex-basis: 100%;
    outline: none;
    padding: 10px;
    width: 90%;
    
}

#icone input:last-child {
    border: 1px solid var(--third-color);
    color: var(--second-color);
    background-color: var(--third-color);
    padding: 10px;
    width: 120px;
    border-radius: 0px 5px;
}




/**#logo {
    font-size: 25px;
    padding: 05px 20px 0px 020px;
    color: var(--second-color);
    background-color: var(--third-color);
    border-radius: 34px;
    margin-right: 70px;
}*/

.sousmenu {
    background: url('images/f76fecd7aca9f4b462e4eac42cc1f257\ -\ Copie.jpg');
    padding: 400px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.sousmenu div {
    border: 1px solid #ccc;
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 20px;
    margin: auto;
    width: 500px;
    height: 230px;
}
.sousmenu div h2{
    margin: 0px;
}
.sousmenu div p{
    font-size: 16px;
}

#essai {
    background-color: transparent;
    color: var(--third-color);
    border: none;
    border-radius: 0px 5px;
    cursor: pointer;
    border: 2px solid var(--third-color);
    font-size: 18px;
    text-decoration: none;
    padding: 5px;
}

#essai:hover {
    background-color: var(--third-color);
    color: var(--second-color);
}

.auteurs {
    background-color: #ccc;
    list-style: none;
}

#logot {
    font-size: 25px;
    background-color: var(--third-color);
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    border: 1px solid transparent;
    align-items: center;
    color: var(--second-color);
    border: 2px solid var(--third-color);

}


.paragraph {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 50px 0% 50px;
    justify-content: space-between;

}

.paragraph div {
    text-align: center;
    border: 1px solid var(--main-color);
    width: 320px;
    padding: 28px;

}

.paragraph div span {
    display: block;
    padding-top: 30px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.paragraph div p {
    margin-bottom: 0px;
}

.soustitre {
    text-align: center;
    padding: 50px 50px 0% 50px;
}

.soustitre h2 {
    margin-bottom: 0px;
    color: var(--main-color) !important;
    font-size: 30px !important;
}

.soustitre h5 i {

    color: var(--third-color);

}

.soustitre h5 {
    margin-bottom: 0px;
}

.listeimages {
    display: flex;
    gap: 1rem;
    height: 20rem;
}

.listeimages div {
    flex: 1;
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);

}

.listeimages div:hover {
    flex: 5;
}

.entetimages {

    display: flex;
    align-items: center;
    justify-content: center;

}

.titre {
    transition: 0.4s;
    transform: translateX(0);
    cursor: grab;
    color: var(--main-color);
    font-size: 30px !important;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.titre:hover {
    transform: translatey(-1rem);
    color: rgb(255, 0, 0);
    /*background: -webkit-linear-gradient(120deg, hsl(19, 90%, 52%), hsl(56, 100%, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

.liste {
    border: 1px solid transparent;
    border-radius: 20px 0px;
    padding: 0px 0px 10px 0;
    box-shadow: 0px 0px 15px #ccc;
}

.liste img {
    border-radius: 20px 0px;
}

.liste h4 {
    text-align: center;
}

.problem {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    border-radius: 20px 0px;
}

.problem .liste img {
    height: 14rem;
    width: 12rem;
}

.liste a {
    text-decoration: none;
    padding: 5px;
    margin-left: 2%;
    border: 2px solid var(--third-color);
    border-radius: 0px 5px;
    color: var(--third-color);

    font-size: 18px;
}

.liste a:hover {
    color: var(--second-color);

    width: 80px;
    background-color: var(--third-color);
}

.probleme {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;

    border-radius: 20px 0px;
    padding: 0% 50px 50px 50px;
}

.probleme .liste img {
    height: 14rem;
    width: 12rem;
}

#threecol img {
    height: 50px;
    width: 50px;
}

footer {
    background-image: linear-gradient(to left, rgba(12, 12, 12, 0.8), rgba(0, 0, 0, 0.8)), url(images/image5.jpg);
    border: 1px solid transparent;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px 15px 0px;
    color: var(--second-color);
    font-size: 25px;

}

.moi {
    text-align: center;
    padding-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
}

.pied {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.pied div h3 {
    margin-bottom: 0%;
    padding-bottom: 2%;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--third-color);
}

.pied div div {
    font-size: 18px;
    color: var(--second-color);
}

.sucali {
    font-size: 18px;
}

#threecol {
    display: flex;
    justify-content: center;
}

.sousimages {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 50px 50px 50px;
}

.sousimages div :first-child {
    color: rgb(10, 10, 10);

}
.sousimages div{
    color: rgb(10, 10, 10);
}

.sousimages img {
    margin-right: 2%;
    height: 25rem;
 
}



.sousimages div div {
    letter-spacing: 1px;
}

.sousimages div h1 {
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.sectionap {
    background-image: linear-gradient(to left, rgba(12, 12, 12, 0.8), rgba(0, 0, 0, 0.8)), url(images/iko.jpg);
    color: var(--second-color);
    padding: 30px 50px;
    background-repeat: no-repeat;
    background-position: top;
    margin-bottom: 50px;

}

.avantpied {
    display: flex;
    justify-content: space-evenly;
}

.avantpied div h2 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
}

.avantpied span a {
    display: block;
    text-decoration: none;
    padding: 5px;
    border: 2px solid var(--third-color);
    border-radius: 0px 5px;
    background-color: var(--third-color);
    color: var(--second-color);
    font-size: 18px;
}

.avantpied span a:hover {
    background-color: transparent;

}
@media screen and (max-width : 900px) and (min-width : 10px) {
    
    .listt {
        flex-direction: row;
        align-items: center;
     
    }
    .menu i b {
        font-size: 12px;
        margin: auto;
        margin-left: 5px;
    }
    nav ul li a {
        font-size: 12px;
        margin: auto 9px 0px;
    }
    nav ul li a :hover{
        border-radius: 3px;
    }

    .sousmenu {
        background: url('images/f76fecd7aca9f4b462e4eac42cc1f257\ -\ Copie.jpg');
        padding: 200px 0px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
    }

    .sousmenu div {
        border: 1px solid #ccc;
        background-color: rgba(0, 0, 0, 0.548);
        color: white;
        padding: 20px;
        margin: auto;
        width: 300px;
        height: 230px;
    }
    .sousmenu div h2 {
        font-size: 17px;
    }
    .sousmenu div p{
        font-size: 13px;
    }
    .problem{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .probleme {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 0px;
    
        border-radius: 20px 0px;
        padding: 0% 50px 50px 50px;
    }
    .problem .liste img {
        height: 100%;
        width: 100%;
    }
    .problem .liste{
        margin: 20px 0px;
    }
    .probleme .liste img {
        height: 100%;
        width: 100%;
    }
    .probleme .liste{
        margin: 20px 0px;
    }
    .sousimages {
        display: flex;
        flex-direction: column;
    }
    .sousimages div:first-child{
        margin-top: 50px;
    }
    .sousimages img {
        width: 100%;
        height: 100%;
    }
    .avantpied div h2 {
        font-size:15px ;
    }
    .avantpied span a{
        font-size: 13px;
        margin-left: 2px;
    }
    .sectionap{
        padding: 3%;
    }
  
    .paragraph{
        display: flex;
        flex-direction: column;
    }
    .paragraph div{
        width: none;
    }
    .un{
        margin: 20px 0px;
    }
  
}